/node_modules
/public/storage
/public/upload-images
/public/upload-files
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

config/ide-helper.php
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpintel
.php_cs.*
